.login-pf {
  background-image: none;
  background-color: rgb(28, 38, 48);
}

.login-pf body {
  background-image: none;
  color: rgb(245, 248, 250);
}

.card-pf {
  background-color: rgba(16, 22, 26, 0.4);
  box-shadow: rgb(16 22 26 / 40%) 0px 2px 6px 0px, rgb(16 22 26 / 40%) 0px 1px 1px 0px,
    rgb(16 22 26 / 20%) 0px 0px 0px 1px;
}

.control-label {
  color: rgb(245, 248, 250) !important;
}
